
.main-container{

    &-photographer-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px;
        margin-top: 100px;

        &-article {
            justify-self: center;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            &-img {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                
            }
            &-title {
                color: #D3573C;
                font-size: 36px;
            }

            &-location {
                color: $principalColor;
                font-size: 36px;
            }
        }
    }
}
