
.main-photographer-container{

    &-header {
        background-color: $backgroundColor;
        height: 300px;
        margin: 0 100px;


        &-picture{
            height: 12.5rem;
            width: 12.5rem;
            border-radius: 50%;
            object-fit: cover;
        }
        &-button {
            font-size: 20px;
            font-weight: bold;
            color: white;
            padding: 11px;
            width: 170px;
            height: 70px;
            border: none;
            background-color: $principalColor;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


















